<p style="color: green"><%= notice %></p>

<%= render @admins_slip %>

<p>
  <strong>番号</strong>
  <%= @admins_slip.number %>  
</p>
  <p>
    <strong>支払先</strong>
    <%= @admins_slip.payee %>  
    </p>
  <p>
    <strong>金額</strong>
    <%= @admins_slip.amount %>  
    </p>
  <p>
  <strong>補足</strong>
    <%= @admins_slip.supplement %>
    </p>
  <p>
  <strong>特別支出許可番号</strong>
    <%= @admins_slip.sspn.number %>
    </p>
  <p>
  <strong>会計</strong>
    <%= @admins_slip.account %>
    </p>
  <p>
    <strong>年度</strong>
    <%= @admins_slip.year %>
    </p>
  <p>
    <strong>支払元</strong>
    <%= @admins_slip.reimbursement %>
    </p>

<div>
  <%= link_to "Edit this slip", edit_admins_slip_path(@admins_slip) %> |
  <%= link_to "Back to slips", admins_slips_path %>

  <%= button_to "Destroy this slip", [:admins, @admins_slip], method: :delete %>
</div>
